name: Code tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-node:
    strategy:
      fail-fast: false # if tests for one version fail, continue with the rest
      matrix:
        node-version: [18.x, '20.x', '22.x', '24.x']
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    name: Node integration tests (${{ matrix.node-version }})
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run test-node

  test-browsers:
    name: Browser integration tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - name: Install dependencies
        run: npm ci

      - name: Install Chrome
        run: npx playwright install --with-deps chromium

      - name: Run browser tests
        run: npm run test-browser

  type-definitions:
    name: Test type definitions

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
    - run: npm ci
    - run: npm run test-type-definitions
